/* General Styling */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: disney;
  src: url('./assets/NewWaltDisneyFontRegular-BPen.ttf');
}

@font-face {
  font-family: mickeymouse;
  src: url('./assets/MickeyMousePersonalUseRegular-mLRAG.otf');
}

@font-face {
  font-family: mick1;
  src: url('./assets/Minnie.TTF');
}

/* Background for the App */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/background.gif');
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
  z-index: -1; /* Push background behind everything */
}

/* App container */
.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Takes full viewport height */
  text-align: center;
  color: white;
  z-index: 1;
}

.hero-content h1 {
  font-size: 9rem;
  margin-bottom: 0px;
  font-family: mickeymouse;
}

.hero-content .x25 {
  font-size: 7rem;
  margin-bottom: 0px;
  font-family: mick1;
}

.hero-content p {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: disney;
}

/* About Section */
.about-section {
  margin-top: 50px; /* Space between Hero and About sections */
  padding: 50px 10%; /* Add padding for better spacing */
  color: white;
}
.countdown-timer {
  text-align: center;
  padding: 10px;
  font: disney;
  color: #fff;
  border-radius: 10px;
  font-size: 1.5rem;
}

.countdown-timer h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #f39c12;
}

.countdown-timer p {
  font-size: 1.5rem;
  font-family:disney;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .hero-content h1 {
    font-size: 6rem; /* Adjust heading size */
  }

  .hero-content .x25 {
    font-size: 5rem; /* Adjust subheading size */
  }

  .hero-content p {
    font-size: 1.5rem; /* Reduce paragraph font size */
  }

  .about-section {
    padding: 40px 5%; /* Reduce padding */
  }
}


@media screen and (max-width: 480px) {
  .background{
    filter: brightness(30%);
    overlay: black;
  }
  .hero-section {
    font-size: 0.8rem;
    width: 90%; /* Slightly reduce width */
    padding: 15px; /* Adjust padding for mobile */
  }

  .hero-content h1 {
    font-size: 4rem; /* Significantly reduce heading size */
  }

  .hero-content .x25 {
    font-size: 3rem; /* Significantly reduce subheading size */
  }

  .hero-content p {
    font-size: 1.2rem; /* Reduce paragraph font size */
  }

  .about-section {
    margin-top: 30px;
    padding: 20px; /* Further reduce padding */
    font-size: 0.9rem; /* Adjust font size for content */
  }
  .countdown-timer p {
    font-size: 1rem;
  }
}
#contact{
  width: 100%;
}